* {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  border: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

:root {
  --corRoxo: #ef83f3;
  --corBranca: #F4F4F4;
}

body {
  overflow-x: hidden;
  overflow-y: auto;
}

body h1,
body h2 {
  position: relative;
  color: black;
  font-size: calc(1.5vw + 1em);
  opacity: 0.9;
  letter-spacing: 2px;

  margin: 0;
}

body a {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.bt-float {
  cursor: pointer;

  position: fixed;
  bottom: 20px;
  right: 20px;

  z-index: 999;
}

.bt-float button {
  border: 2px solid #00000031;
  border-radius: 35%;

  position: relative;
  width: 60px;
  height: 60px;

  margin: 5px 0 0 0;
}

#bt-top {
  background-color: var(--corRoxo);
  display: none;
}

#chat-micro {
  background-color: var(--corBranca);
}

.boxChat {
  background-color: var(--corBranca);
  border: 2px solid #00000031;
  border-radius: 3%;
  cursor: default;

  display: none;
  position: absolute;

  right: 0;
  bottom: 0;

  width: 20rem;
  height: 27rem;
  z-index: 999;
}

.boxChat span {
  cursor: pointer;
  padding: 7px;
}

.header-chat {
  box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.100);

  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 58px;
  padding: 0 15px 0 20px;
}

.header-chat img {
  border-radius: 100%;
  box-shadow: 0 0 4px rgb(0, 0, 0);
  padding: 5px;
}

.header-chat p {
  margin: 0;
}

.chat-conversation {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100% - 130px);
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.reply-gpt,
.user-question {
  background-color: #F4F4F4;

  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 10px 5px;
}

.user-question {
  background-color: #f8bafa59;
}

.ctro-chat {
  display: flex;
  align-items: center;
  animation: fade-in 0.5s ease-out;
}

.reply-gpt *,
.user-question * {
  margin: 6px 5px 0 7px;
}

.userName {
  font-size: 0.8em;
  text-transform: uppercase;
}

.reply-gpt img,
.user-question img {
  background-color: #ffffff;
  border-radius: 100%;
  padding: 2px;
}

.chat {
  display: inline-block;
  word-wrap: break-word;
  margin: 5px 15px 0px 56px;
}

.waiting-response {
  margin: 20px 30px;
}

.typing-indicator span {
  background-color: var(--corRoxo);
  display: inline-block;

  border-radius: 50%;
  margin-right: 5px;

  width: 10px;
  height: 10px;
  animation: typing 1s infinite;
}

@keyframes typing {
  0% {
    opacity: 0.5;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.5;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.space-hr {
  width: 103%;
  position: relative;
  bottom: -10px;
  right: 13px;
}

.space-extra {
  background-color: #f8bafa59;
  position: relative;
  height: 3rem;
}

.footer-chat {
  box-shadow: 0px -3px 2px rgba(0, 0, 0, 0.100);
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  bottom: -18px;

  width: 100%;
  height: 3.2rem;
}

.write-message {
  outline: none;
  width: 80%;
  height: 30px;

  margin: 0px 8px;
}

.fa-paper-plane {
  color: var(--corRoxo);
  cursor: pointer;

  margin-right: 10px;
}

.sendMessage {
  border: inherit;
  border-radius: inherit;
  margin: inherit;
}


ul {
  list-style: none;
  padding: 0;
}


footer {
  background-color: var(--corBranca);
  box-shadow: 0 0 6px 0 #a1a1a196;
  color: #000;

  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
  width: 100vw;
  padding: 6vh 0 4vh 0;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.footer-content h3 {
  font-weight: bold;

  opacity: 0.7;
  line-height: 3rem;
}

.footer-content p {
  opacity: 0.5;
  font-weight: bold;
  font-size: 14px;
  line-height: 28px;
  text-transform: capitalize;

  max-width: 500px;
  margin: 10px;
}

.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
}

.socials li {
  margin: 0 10px;
}

.socials a {
  color: #000;
  opacity: 0.6;
}

.socials a:hover {
  color: var(--corRoxo);
  opacity: 1;
}

.socials a i {
  font-size: 1.5em;
  transition: color .4s ease;
}

.linha-footer {
  text-align: center;
  border: 1px solid #000;
  width: 250px;
}

.footer-bottom {
  padding: 20px 0 10px 0;
  text-align: center;
}

.footer-bottom p {
  color: #000;
  opacity: 0.8;
  font-size: 14px;
  line-height: 30px;
  word-spacing: 2px;
  text-transform: capitalize;
}

.footer-bottom a {
  color: #000;
  opacity: 0.8;
  font-weight: bold;
  text-transform: uppercase;
}

.footer-bottom a:hover {
  opacity: 1;
  font-weight: bolder;
}

.politica-de-privacidade {
  background-color: var(--corBranca);
  position: relative;
  top: 100px;
  padding: 5% 20%;
  margin-bottom: 100px;
}

.politica-de-privacidade h1,
.politica-de-privacidade h2,
.politica-de-privacidade h3,
.politica-de-privacidade h4,
.politica-de-privacidade h5 {
  text-align: center;
  margin: 50px 0;
  font-weight: bold;
  color: #313131;
}

.politica-de-privacidade p {
  text-align: left;
  margin: 10px 0;
  opacity: 0.7;
}