@media only screen and (min-width: 0) and (max-width: 600px) {

  .menuStart {
    height: 70px;
  }

  .logo {
    display: none;
  }

  .minitel {
    display: block;
    font-family: 'Vollkorn', serif;
    font-size: 2.5vh;
    font-weight: 900;
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 25px;

    margin-left: 20px;
  }

  .minitel span {
    color: #e62fec;
  }

  .block-call-icone,
  .block-menuNav-icone {
    height: 70px;
    width: 70px;
  }

  .dropdown-nav li a {
    font-size: 13px;
  }

  .ctro-itemS {
    margin-top: 110px;
    --height-itemS: 110px;
  }

  picture .slide-img {
    height: 60%;
    width: 100vw;
    margin: 0;
  }

  picture .simg,
  picture .simg1 {
    transform: scaleX(-1);
  }

  .fondo-distor {
    position: relative;
    width: 100vw;
    height: 40%;
  }

  .texto-carousel {
    padding: 20px 6vw;
  }

  .texto-carousel h2 {
    font-size: max(15px, 3vh);
  }

  .texto-carousel p {
    font-size: min(12px, 3vw);
    padding: 5px 0;
  }

  .border-slide {
    position: relative;
    padding: 20px;
  }

  .dimension-total img {
    left: 50%;
    transform: translateX(-50%);
    width: 50vw;
    height: 35vh;
  }


  .separar-titu {
    flex-direction: column;
    align-items: center;
  }

  .locais h2 {
    transform: rotate(90deg);
  }

  .position-local {
    flex-direction: column;
    align-items: center;
  }

  .localCtro {
    flex-direction: column;
    margin-bottom: 30px;
    width: 95vw;
  }

  .localCtro img {
    width: 95vw;
    height: 40vh;
  }

  .pcSlide {
    display: none;
  }

  .card img {
    height: 250px;
  }

  .nossos-servicos h1 {
    margin: 3vh 0 2vh 0;
  }

  .nextSer {
    position: relative;
    margin-top: 50px;
  }

  .saiba-mais-ser {
    bottom: 50%;
  }

  .reserve-ja {
    flex-direction: column;
    padding: 5vw;
  }

  .reserve-ja h1,
  .reserve-ja p {
    text-align: center;
  }

  .reserve-ja h1 {
    font-size: 1.5em;
  }

  .reserve-ja p {
    font-size: 1em;
  }

  .pre-fq-box {
    margin: 10px 0 10px 0;
  }

  .box-test {
    margin: 4vh 3vw;
  }

}

@media only screen and (max-width: 317px) {

  * {
    background-color: #d9909000;
  }

  .bt-float button {
    width: 40px;
    height: 40px;
  }

  .boxChat {
    width: 95vw;
    right: -35%;
  }

  .sideBar {
    width: 100vw;
  }

  picture .slide-img,
  .fondo-distor {
    height: 50%;
  }

  .border-slide {
    padding: 15px;
  }

  .localCtro img {
    height: 30vh;
  }

  #phone-tiny {
    font-size: 1.5vh;
  }

  .box-test {
    margin-bottom: 10vh;
  }

}

@media only screen and (min-width: 318px) and (max-width: 454px) {
  * {
    background-color: rgba(250, 0, 187, 0);
  }

  .bt-float button {
    width: 40px;
    height: 40px;
  }

  .boxChat {
    width: 90vw;
  }

  .sideBar {
    width: 80vw;
  }

  picture .slide-img,
  .fondo-distor {
    height: 50%;
  }

  .border-slide {
    padding: 13px;
  }

  #phone-tiny {
    font-size: 1.6vh;
  }

}

@media only screen and (min-width: 455px) and (max-width: 600px) {

  .logo {
    display: block;
    font-size: medium;
    margin-left: 20px;
  }

  .minitel {
    display: none;
  }

}

@media only screen and (min-width: 601px) {

  * {
    background-color: rgba(42, 202, 63, 0);
  }

  .menuStart {
    height: 100px;
    padding-left: 20px;
  }

  .minitel {
    display: none;
  }

  .block-call-icone,
  .block-menuNav-icone {
    width: 100px;
  }

  picture .slide-img {
    width: 100vw;
    height: 100vh;
  }

  picture .simg,
  picture .simg1 {
    transform: scaleX(-1);
  }

  .fondo-distor {
    position: absolute;
    left: 64%;
    bottom: 40%;
    transform: translate(-50%, 50%);
    padding: 30px 20px;

    width: 400px;
  }

  .texto-carousel {
    width: 70vw;
  }

  .texto-carousel h2 {
    font-size: max(20px, 2.5vw);
  }

  .texto-carousel p {
    font-size: min(23px, 1.5vw);
    padding: 15px 20px;
  }

  .fd1 {
    left: 65%;
    bottom: 30%;
  }

  .fd3 {
    left: 77%;
    bottom: 55%;
    transform: translate(-67%, 45%);
  }

  .border-slide {
    position: relative;
    padding: 25px;
  }

  .dimension-total img {
    left: 50%;
    transform: translateX(-50%);
    width: 35vw;
    height: 40vh;
  }

  .separar-titu {
    justify-content: center;
    align-items: center;
  }

  .locais h2 {
    margin: 0 1.5vw;
  }

  .position-local {
    flex-direction: column;
    align-items: center;
  }

  .localCtro {
    flex-direction: column;
    margin-bottom: 30px;
    width: 70vw;
  }

  .localCtro img {
    width: 70vw;
    height: 40vh;
  }

  .pcSlide {
    display: none;
  }

  .nossos-servicos h1 {
    margin: 4vh 0 2vh 0;
  }

  .card {
    width: 60vw;
  }

  .card img {
    position: inherit;
    height: 30vh;
  }

  .saiba-mais-ser {
    bottom: -13%;
  }

  .reserve-ja {
    flex-direction: column;
    padding: 5vw;
  }

  .reserve-ja h1,
  .reserve-ja p {
    text-align: center;
    padding: 0 2.5em;
  }

  .pre-fq-box h2 {
    font-size: 1.3em;
  }

  .pre-fq-box {
    margin: 10px;
  }

  .box-test {
    margin: 4vh 3vw;
  }
}

@media only screen and (min-width: 768px) {

  * {
    background-color: rgba(255, 172, 63, 0);
  }

  .menuStart {
    height: 100px;
  }

  .block-call-icone,
  .block-call-menuNav {
    width: 110px;
  }

  .quit {
    margin: 50px 35px;
  }

  .dimension-total {
    display: flex;
    align-items: center;
  }

  .dimension-total img {
    width: 25vw;
    height: 40vh;

    left: 0;
    margin-left: 100px;
  }

  .position-local {
    flex-direction: row;
    align-items: inherit;
  }

  .localCtro {
    margin: 0 15px 0 15px;
    width: 45vw;
  }

  .localCtro img {
    width: 45vw;
    height: 35vh;
  }

  .localCtro p {
    height: 35vh;
  }

  .mobileSlide {
    display: none;
  }

  .pcSlide {
    display: block;
  }

  .nossos-servicos h1 {
    margin: 10vh 0 4vh 0;
  }

  .nextSer {
    position: relative;
    margin: 70px 0;
  }

  .saiba-mais-ser {
    position: relative;
    bottom: 50%;
  }

  .reserve-ja {
    flex-direction: inherit;
    padding: 0 15vw;
    height: 20vh;
  }

  .reserve-ja h1,
  .reserve-ja p {
    text-align: left;
    padding: 0;
  }

  .border-rb {
    margin-left: 5vw;
  }

  .contact-wrapperF {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  .contact-wrapperF>* {
    padding: 2em;
  }

  .contact-info h4,
  .contact-info ul,
  .contact-info p {
    text-align: left;
  }

}

@media only screen and (min-width: 992px) {

  * {
    background-color: rgba(0, 0, 255, 0);
  }

  .menuStart {
    display: flex;
    height: 110px;
    padding: 0 2em;
  }

  .logo-visibility,
  .top-section,
  .block-icons,
  .end-menu {
    display: none;
  }

  nav {
    width: 100%;
  }

  .navOptions {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
  }

  #sm-PC {
    display: flex;
    background-color: #f0959500;
    justify-content: end;

    width: 500px;
    height: 30px;
  }

  .ctro-itemS {
    display: flex;
  }

  .fondo-distor,
  picture .slide-img {
    position: relative;
    width: 50vw;
    left: inherit;
    bottom: inherit;
    transform: inherit;
  }

  picture .slide-img {
    margin-top: 110px;
    height: calc(100vh - 110px);
    width: calc(50vw + 1px);
    margin-right: -1px;
  }

  picture .simg1 {
    transform: scale(1, 1.2);
  }

  picture .simg2 {
    margin-left: -1px;
  }

  picture .simg2 {
    transform: scaleX(-1);
  }

  .texto-carousel {
    width: 35vw;
    margin-top: 100px;
    margin-right: 60px;
  }

  .tc1 {
    margin-right: 0px;
    margin-left: 60px;
  }

  .texto-carousel a {
    height: 50px;
  }

  .border-slide {
    margin-top: 13px;
    padding: 30px;
    transition: padding 0.3s ease;
  }

  .border-slide:hover {
    padding: 35px;
  }

  .dimension-total img {
    width: 15vw;
    height: 43vh;
  }

  .localCtro {
    width: 35vw;
  }

  .localCtro img {
    width: 35vw;
    height: 40vh;
  }

  .card {
    width: 30vw;
  }

  .card img {
    height: 35vh;
  }

  .nextSer {
    bottom: -10%;
  }

  .reserve-ja h1 {
    font-size: 1.5vw;
  }

  .reserve-ja p {
    font-size: 1vw;
  }

  .pre-fq-box {
    margin: 25px;
  }

  .ctro-testbox {
    display: flex;
    justify-content: center;
    align-items: center;
  }

}

@media only screen and (min-width: 1500px) {

  * {
    background-color: rgba(174, 17, 247, 0);
  }

  .top-section {
    display: none;
  }

  .block-icons {
    display: none;
  }

  .navOptions {
    flex-direction: row;
  }

  .imgPC {
    display: flex;
  }

  .imgPRE {
    display: none;
  }

  .localCtro {
    flex-direction: row;
    width: 45vw;
    height: 35vh;
  }

  .localCtro img {
    width: 22.5vw;
    height: 35vh;
  }

  .card {
    width: 20vw;
  }

  .card img {
    height: 30vh;
  }

  .nextSer {
    position: unset;
    margin: 0;
  }

  .saiba-mais-ser {
    bottom: -12%;
  }

  .reserve-ja {
    padding: 0 20vw;
  }

}