@media only screen and (min-width: 0) and (max-width: 600px) {

  .menuStart {
    height: 70px;
  }

  .logo {
    display: none;
  }

  .minitel {
    display: block;
    font-family: 'Vollkorn', serif;
    font-size: 2.5vh;
    font-weight: 900;
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 25px;

    margin-left: 20px;
  }

  .minitel span {
    color: #e62fec;
  }

  .block-call-icone,
  .block-menuNav-icone {
    height: 70px;
    width: 70px;
  }

  .dropdown-nav li a {
    font-size: 13px;
  }

  main {
    --tam: 110px;
  }

  .slide-img {
    height: 50%;
    width: 100%;
    margin: 0;
  }

  picture .simg,
  picture .simg1 {
    transform: scaleX(-1);
  }

  .fondo-distor {
    position: relative;
    width: 100%;
    height: 50%;
  }

  #fd {
    background-image: linear-gradient(#ff9763, #ffc5a5);
  }

  #fd1 {
    background-image: linear-gradient(#972c27, #f5cecc);
  }

  #fd2 {
    background-image: linear-gradient(#018979, #a6ede5);
  }

  #fd3 {
    background-image: linear-gradient(#9d2a58, #f7b8d2);
  }

  .texto-carousel {
    padding: 20px 6vw;
  }

  .texto-carousel h2 {
    font-size: x-large;
  }

  div.texto-carousel p {
    font-size: medium;
    padding: 5px 0;
    margin: 4px 0 8px 0;
  }

  .border-slide {
    position: relative;
    padding: 20px;
  }

  .dimension-total img {
    left: 50%;
    transform: translateX(-50%);
    width: 50vw;
    height: 35vh;
  }

  .separar-titu {
    flex-direction: column;
    align-items: center;
  }

  .locais h2 {
    transform: rotate(90deg);
  }

  .position-local {
    flex-direction: column;
    align-items: center;
  }

  .localCtro {
    flex-direction: column;
    margin-bottom: 30px;
    width: 95vw;
  }

  .localCtro img {
    width: 95vw;
    height: 40vh;
  }

  .pcSlide {
    display: none;
  }

  .card img {
    height: 250px;
  }

  .nossos-servicos h1 {
    margin: 3vh 0 2vh 0;
  }

  .nextSer {
    position: relative;
    margin-top: 50px;
  }

  .saiba-mais-ser {
    bottom: 50%;
  }

  .reserve-ja {
    flex-direction: column;
    padding: 5vw;
  }

  .reserve-ja h1,
  .reserve-ja p {
    text-align: center;
  }

  .reserve-ja h1 {
    font-size: 1.5em;
  }

  .reserve-ja p {
    font-size: 1em;
  }

  .pre-fq-box {
    margin: 10px 0 10px 0;
  }

  .box-test {
    margin: 4vh 3vw;
  }

  section.body {
    margin-left: 10%;
    margin-right: 5%;
  }

  .creditos-section a {
    display: block;
    width: auto;
  }

}

@media only screen and (max-width: 317px) {

  .bt-float button {
    width: 40px;
    height: 40px;
  }

  .boxChat {
    width: 95vw;
    right: -35%;
  }

  .sideBar {
    width: 100vw;
  }

  .texto-carousel h2 {
    font-size: larger;
  }

  div.texto-carousel p {
    font-size: small;
    margin: 6px 0 6px 0;
  }

  picture .slide-img,
  .fondo-distor {
    height: 50%;
  }

  .border-slide {
    padding: 15px;
  }

  .localCtro img {
    height: 30vh;
  }

  .phone-tiny {
    font-size: x-small;
  }

  .box-test {
    margin-bottom: 10vh;
  }

  a.emailChato {
    font-size: smaller;
  }

  section div.sobrenos-texto {
    width: -webkit-fill-available;
    margin: 0 20px;
  }

  .sobrenos-texto p,
  .sobrenos-texto h1 {
    font-size: smaller;
  }

  section .red {
    width: -webkit-fill-available;
  }

  section.social div.whas {
    width: inherit;
    margin: 0;
  }

}

@media only screen and (min-width: 318px) and (max-width: 454px) {

  .bt-float button {
    width: 40px;
    height: 40px;
  }

  .boxChat {
    width: 90vw;
  }

  .sideBar {
    width: 80vw;
  }

  picture .slide-img,
  .fondo-distor {
    height: 50%;
  }

  .border-slide {
    padding: 13px;
  }

  .phone-tiny {
    font-size: smaller;
  }

  section .red {
    width: -webkit-fill-available;
  }

  section.social div.whas {
    width: inherit;
    margin: 0;
  }

}

@media only screen and (min-width: 455px) and (max-width: 600px) {

  .logo {
    display: block;
    font-size: medium;
    margin-left: 20px;
  }

  .minitel {
    display: none;
  }

  .texto-carousel {
    align-items: center;
    text-align: center;
    padding: 0 76px;
  }

  .texto-carousel p {
    text-align: left;
  }
}

@media only screen and (min-width: 601px) {

  .menuStart {
    height: 100px;
    padding-left: 20px;
  }

  .minitel {
    display: none;
  }

  .block-call-icone,
  .block-menuNav-icone {
    width: 100px;
  }

  picture .slide-img {
    width: 100vw;
    height: 100vh;
  }

  picture .simg,
  picture .simg2 {
    transform: scaleX(-1);
  }

  .fondo-distor {
    position: absolute;
    left: 11%;
    bottom: 13%;
  }

  div.texto-carousel h2 {
    font-weight: 900;
  }

  div.texto-carousel p {
    line-height: 19px;
    font-weight: 600;
  }

  #fd,
  #fd1 {
    background-image: none;
  }

  #fd2,
  #fd3 {
    background-image: none;
    left: 60%;
  }

  .texto-carousel {
    max-width: 300px;
  }

  button.border-slide {
    padding: 40px;
    background-color: #5353531f;
  }

  .dimension-total img {
    left: 50%;
    transform: translateX(-50%);
    width: 35vw;
    height: 40vh;
  }

  .separar-titu {
    justify-content: center;
    align-items: center;
  }

  .locais h2 {
    margin: 0 1.5vw;
  }

  .position-local {
    flex-direction: column;
    align-items: center;
  }

  .localCtro {
    flex-direction: column;
    margin-bottom: 30px;
    width: 70vw;
  }

  .localCtro img {
    width: 70vw;
    height: 40vh;
  }

  .pcSlide {
    display: none;
  }

  .nossos-servicos h1 {
    margin: 4vh 0 2vh 0;
  }

  .card {
    width: 60vw;
  }

  .card img {
    position: inherit;
    height: 30vh;
  }

  .saiba-mais-ser {
    bottom: -13%;
  }

  .reserve-ja {
    flex-direction: column;
    padding: 5vw;
  }

  .reserve-ja h1,
  .reserve-ja p {
    text-align: center;
    padding: 0 2.5em;
  }

  .pre-fq-box h2 {
    font-size: 1.3em;
  }

  .pre-fq-box {
    margin: 10px;
  }

  .box-test {
    margin: 4vh 3vw;
  }

  section.body {
    margin-left: 10%;
    margin-right: 5%;
  }
}

@media only screen and (min-width: 768px) {

  .menuStart {
    height: 100px;
  }

  .block-call-icone,
  .block-call-menuNav {
    width: 110px;
  }

  .quit {
    margin: 50px 35px;
  }

  .dimension-total {
    display: flex;
    align-items: center;
  }

  .dimension-total img {
    width: 25vw;
    height: 40vh;

    left: 0;
    margin-left: 100px;
  }

  .position-local {
    flex-direction: row;
    align-items: inherit;
  }

  .localCtro {
    margin: 0 15px 0 15px;
    width: 45vw;
  }

  .localCtro img {
    width: 45vw;
    height: 35vh;
  }

  .localCtro p {
    height: 35vh;
  }

  .mobileSlide {
    display: none;
  }

  .pcSlide {
    display: block;
  }

  .nossos-servicos h1 {
    margin: 10vh 0 4vh 0;
  }

  .nextSer {
    position: relative;
    margin: 70px 0;
  }

  .saiba-mais-ser {
    position: relative;
    bottom: 50%;
  }

  .reserve-ja {
    flex-direction: inherit;
    padding: 0 15vw;
    height: 20vh;
  }

  .reserve-ja h1,
  .reserve-ja p {
    text-align: left;
    padding: 0;
  }

  .border-rb {
    margin-left: 5vw;
  }

  .contact-wrapperF {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  .contact-wrapperF>* {
    padding: 2em;
  }

  .contact-info h4,
  .contact-info ul,
  .contact-info p {
    text-align: left;
  }

}

@media only screen and (max-width: 825px) {
  .body section.social {
    height: 95rem;
  }

  .body .social div.whas {
    margin-left: 50%;
    margin-right: 50%;
  }
}

@media only screen and (min-width: 992px) {

  main {
    --tam: 111px;
  }

  .menuStart {
    display: flex;
    height: 110px;
    padding: 0 2em;
  }

  .logo-visibility,
  .top-section,
  .block-icons,
  .end-menu {
    display: none;
  }

  nav {
    width: 100%;
  }

  .navOptions {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
  }

  #sm-PC {
    display: flex;
    background-color: #f0959500;
    justify-content: end;

    width: 500px;
    height: 30px;
  }

  .ctro-itemS {
    display: flex;
  }

  #fd {
    background-image: linear-gradient(#ffede3, #b75321);
  }

  #fd1 {
    background-image: linear-gradient(#ffe6e5, #83110c);
  }

  #fd2 {
    left: inherit;
    background-image: linear-gradient(#eefffd, #007f70);
  }

  #fd3 {
    left: inherit;
    background-image: linear-gradient(#ffebf3, #c10854);
  }

  .fondo-distor,
  picture .slide-img {
    position: relative;
    width: 50vw;
    height: 100%;
    left: inherit;
    bottom: inherit;
    transform: inherit;
  }

  .texto-carousel {
    margin-left: 5vw;
  }

  .texto-carousel h2,
  .texto-carousel p,
  .texto-carousel a {
    width: -webkit-fill-available;
  }

  div.texto-carousel h2 {
    font-weight: 600;
  }

  #fd2 h2,
  #fd3 h2 {
    width: max-content;
  }

  div.texto-carousel p {
    font-weight: inherit;
    line-height: 26px;
    width: 25rem;
  }

  button.border-slide {
    background-color: transparent;
    padding: 30px;
    transition: padding 0.3s ease;
  }

  .border-slide:hover {
    padding: 35px;
  }

  .dimension-total img {
    width: 15vw;
    height: 43vh;
  }

  .localCtro {
    width: 35vw;
  }

  .localCtro img {
    width: 35vw;
    height: 40vh;
  }

  .card {
    width: 30vw;
  }

  .card img {
    height: 35vh;
  }

  .nextSer {
    bottom: -10%;
  }

  .reserve-ja h1 {
    font-size: 1.9vw;
  }

  .reserve-ja p {
    font-size: 1vw;
  }

  .pre-fq-box {
    margin: 25px;
  }

  .ctro-testbox {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  section.body {
    margin-left: 25%;
    margin-right: 25%;
  }
}

@media only screen and (max-width: 1262px) {
  section.social {
    height: 59rem;
  }
}

@media only screen and (min-width: 1500px) {

  * {
    background-color: rgba(174, 17, 247, 0);
  }

  .top-section {
    display: none;
  }

  .block-icons {
    display: none;
  }

  .navOptions {
    flex-direction: row;
  }

  .imgPC {
    display: flex;
  }

  .imgPRE {
    display: none;
  }

  .localCtro {
    flex-direction: row;
    width: 45vw;
    height: 35vh;
  }

  .localCtro img {
    width: 22.5vw;
    height: 35vh;
  }

  .card {
    width: 20vw;
  }

  .card img {
    height: 30vh;
  }

  .nextSer {
    position: unset;
    margin: 0;
  }

  .saiba-mais-ser {
    bottom: -12%;
  }

  .reserve-ja {
    height: 24vh;
    padding: 0 20vw;
  }

  button.border-rb {
    padding: 4vh 3vw;
  }

  button.border-rb:hover {
    padding: 4.5vh 3.5vw;
  }

  .reser-button {
    font-size: 1vw;
  }

}