<style>
  .notice-Cookies {
    width: calc(100% - 2.5rem);
    box-shadow: 0 3px 20px 0 rgb(169 167 167 / 25%);
  }

  .notice-Cookies.active {
    display: block;
  }

  h3,
  p,
  button {
    margin-bottom: 1rem;
    text-wrap: wrap;
  }
</style>

<section
  class="notice-Cookies hidden fixed left-[5%] bottom-[3%] text-center pt-8 p-5 max-w-[307px] rounded-[5px] bg-white z-10"
  id="notice-Cookies"
>
  <h3>Cookies</h3>
  <p>
    Utilizamos cookies próprios e de terceiros para melhorar nossos serviços.
  </p>
  <button
    class="w-full font-[bold] bg-black hover:bg-gray-500 text-white transition-[0.3s] duration-[ease] px-5 py-[15px]"
    id="btn-accept-cookies">Aceitar</button
  >
  <a href="/politica-de-privacidade" class="text-[#0080c8] hover:underline">
    Aviso de Cookies</a
  >
</section>

<script src="./cookie"></script>
