<style>
  .notice-Cookies {
    display: none;
    width: calc(100% - 2.5rem);
    box-shadow: 0 3px 20px 0 rgb(169 167 167 / 25%);
    z-index: 7;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 94dvh;

    h3 {
      font-weight: bold;
      font-size: large;
      text-align: left;
    }
  }

  .max-43 {
    max-width: 43rem;
  }

  .notice-Cookies.active {
    display: block;
  }

  h3,
  p,
  button {
    margin-bottom: 0.5rem;
    text-wrap: wrap;
  }

  .bgCookie {
    display: none;
    background: rgba(0, 0, 0, 0.2);
    position: fixed;
    z-index: 6;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
  }

  .bgCookie.active {
    display: block;
  }

  .option {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    height: 79%;

    div {
      width: 1rem;
    }

    input {
      margin-right: 19rem;
      width: 1rem;
    }
  }

  #definition {
    display: block;
  }

  .aside-Consents {
    display: grid;
    width: 100%;
    background-color: #f1f1f1;

    p {
      display: grid;
      align-items: center;
      height: 100%;
      margin: 0;
      padding-inline: 1rem;
      cursor: pointer;
      border-bottom: 1px solid #cdcdcd;
    }

    p:hover {
      background-color: #dfdfdf;
    }
  }
</style>

<section
  class="notice-Cookies fixed left-[5%] bottom-[3%] text-base pt-8 p-5 max-w-[43rem] rounded-[5px] bg-white z-10"
  id="notice-Cookies"
>
  <h4 class="bold">O que são cookies?</h4>
  <p>
    Pequenos textos que os sites guardam no teu navegador para lembrar
    informações da sua visita e personalizar a navegação.
  </p>
  <h4 class="bold mt-4">Para que as usamos?</h4>
  <div class="text-start mt-2">
    <p>
      <b class="text-[#313131e8]">Comportamentais:</b> Para mostrar anúncios personalizados
      em vez de genéricos.
    </p>
    <p>
      <b class="text-[#313131e8]">Analíticas:</b> Para fins de análise estatística
      do tráfego.
    </p>
  </div>
  <h4 class="bold mt-4">O que podes fazer?</h4>
  <p>
    Podes aceitar as cookies para uma experiência ótima no site, rejeitar todas,
    ou configurar quais tipos de cookies desejas permitir ou rejeitar.
  </p>
  <div
    class="flex max-[500px]:flex-wrap max-[500px]:p-2 max-[500px]:gap-0 gap-4 mt-8"
  >
    <button
      class="w-full bg-[#fc97ff] text-[#00000094] font-bold hover:font-thin hover:bg-[#facbfb] hover:text-black border-black border-[1px] border-solid transition-[0.3s] duration-[ease] px-5 py-[15px] max-[500px]:p-2"
      id="btn-accept-cookies">Aceitar Todas</button
    >
    <button
      class="w-full border-black border-[1px] border-solid px-5 py-[15px] hover:bg-[#e7e7e7] max-[500px]:p-2"
      id="btn-manage-cookies">Opções</button
    >
    <button
      class="w-full border-black border-[1px] border-solid px-5 py-[15px] hover:bg-[#e7e7e7] max-[500px]:p-2"
      id="btn-reject-cookies">Rejeitar</button
    >
  </div>
</section>

<div id="manage-Cookies" style="display: none;">
  <h4
    style="padding-bottom: .8rem; border-bottom: #9f9f9f 1px solid;"
    class="bold text-start text-lg ml-4 max-[716px]:ml-0"
  >
    Gerenciar Consentimento de Cookies
  </h4>
  <div class="flex gap-4 ml-4 mb-4 max-[716px]:flex-wrap max-[716px]:gap-0 max-[716px]:ml-0">
    <div
      class="my-4 fle
    flex-direction: column;
    justify-content: space-between;
    height: 79%;"
    >
      <div class="option my-4 text-start" id="definition">
        <h4 class="mb-4 bold">Definição</h4>
        <p class="text-base">
          As cookies são fragmentos de texto armazenados no seu navegador quando
          visita websites, guardando informações sobre a sua visita. <br /> Pode
          consultar as cookies que usamos, consentir ou rejeitar todas e personalizar
          o seu consentimento. Para mais informações, visite a nossa seção "Política
          e privacidade".
        </p>
      </div>

      <div id="behavioral" class="option grid my-4 text-start gap-4">
        <div class="flex justify-between gap-4">
          <h4 class="bold">Comportamentais</h4>
          <input id="cookies-behavioral" type="checkbox" />
        </div>
        <p class="text-base">
          Também chamadas de publicitárias, estas cookies ajudam-nos a verificar
          se as campanhas publicitárias estão bem direcionadas e a personalizar
          a publicidade que vê noutros sites. Mostram anúncios mais relevantes
          com base no conteúdo que visitou, em vez de anúncios aleatórios. Podem
          ser fornecidas pelos nossos parceiros publicitários (Google, Meta,
          etc.). Pode apagar estas cookies do seu navegador quando quiser.
        </p>
      </div>

      <div id="analytics" class="option grid my-4 text-start gap-4">
        <div class="flex justify-between gap-4">
          <h4 class="bold">Analíticas</h4>
          <input id="cookies-analytics" type="checkbox" />
        </div>
        <p class="text-base">
          Estas cookies registam dados da sua visita, como a origem, fonte,
          páginas visitadas e secções de interesse, para fins estatísticos e de
          análise. Ajudam-nos a melhorar o negócio, compreendendo a sua
          proveniência e comportamento na web, com ferramentas como o Google
          Analytics.
        </p>
      </div>
    </div>
    <aside class="aside-Consents max-[716px]:*:p-2">
      <p data-target="definition">Definição</p>
      <p data-target="behavioral">Comportamentais</p>
      <p data-target="analytics">Analíticas</p>
    </aside>
  </div>
  <div
    class="flex gap-8 max-[716px]:flex-wrap max-[716px]:gap-0"
  >
    <button
      class="w-full bg-[#fc97ff] text-[#00000094] font-bold hover:font-thin hover:bg-[#facbfb] hover:text-black border-black border-[1px] border-solid transition-[0.3s] duration-[ease] px-5 py-[15px] max-[716px]:p-2"
      id="btn-accept-cookies1">Aceitar Todas</button
    >
    <button
      class="w-full border-black border-[1px] border-solid hover:bg-[#e7e7e7] px-5 py-[15px] max-[716px]:p-2"
      id="btn-accept-selected-cookies">Aceitar Escolhidas</button
    >
    <button
      class="w-full border-black border-[1px] border-solid hover:bg-[#e7e7e7] px-5 py-[15px] max-[716px]:p-2"
      id="btn-reject-cookies1">Rejeitar Todas</button
    >
  </div>
</div>

<div class="bgCookie" id="bgCookie"></div>

<script src="./cookie"></script>
