---
import { Icon } from "astro-icon/components";
---

<style>
  input[type="date"] {
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
  }

  input[type="date"]::-webkit-calendar-picker-indicator {
    border: 1px #4b4b4b solid;
    padding: 5px;
    cursor: pointer;
    border-radius: 3px;
  }

  h3 {
    color: #161616cb;
    font-size: 25px;

    margin-top: 20px;
    margin-left: 20px;
  }

  .openModal,
  .openModal2 {
    display: flex;
    align-items: center;
    opacity: 1;
    transition: opacity 0.4s ease;
  }

  .mt-8 {
    margin-top: 3rem !important;
  }

  .py-2 {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
  }

  .px-4 {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }

  form {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  form label {
    display: block;
  }

  form p {
    margin: 0;
    padding: 1em;
  }

  form .maxSpace {
    grid-column: 1 / 3;
  }

  form button,
  form input,
  form textarea {
    width: 100%;
    padding: 0.7em 0;
    border: none;
    background: none;
    outline: 0;
    color: #4b4b4b;
    border-bottom: 1px solid #4b4b4b;
  }

  form textarea {
    field-sizing: content;
  }

  form button {
    background: #4b4b4b;
    color: var(--White);
    border: 0;
    text-transform: uppercase;
    padding: 1em;
  }

  form button:hover,
  #payNow:hover {
    background-color: var(--White);
    color: #4b4b4b;
    transition: background-color 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
    outline: 0;
  }

  #payNow {
    background: #000;
  }

  @media only screen and (min-width: 0) and (max-width: 600px) {
    form > :first-child,
    form > :nth-child(2) {
      grid-column: 1/3;
    }
  }
</style>

<div
  class="modalBackground hidden fixed w-screen h-screen inset-0 opacity-0 bg-[#0000003d] z-[5]"
>
  <dialog
    id="reserva-dialog"
    class="block w-[30rem] m-auto p-4 max-[600px]:w-[90vw] max-[400px]:w-screen"
  >
    <div class="text-center py-4">
      <span class="closeModal bold top-4 right-4 absolute cursor-pointer"
        >X</span
      >
      <h2>Reservar</h2>
    </div>
    <form id="form-reserva">
      <p class="maxSpace">
        <label for="name"><span style="color:#a72727">*</span> Nome</label>
        <input
          type="text"
          name="name"
          id="name"
          autocomplete="given-name"
          class="cursor-text"
        />
        <span class="customAlert" id="nameAlert">Preencher o campo.</span>
        <span class="customAlert" id="nameStringAlert"
          >O nome não deve conter números.</span
        >
      </p>
      <p class="maxSpace">
        <label for="contact"
          ><span style="color:#a72727">*</span> Número de Contacto</label
        >
        <input
          type="tel"
          name="contact"
          id="contact"
          autocomplete="tel"
          class="cursor-text"
        />
        <span class="customAlert" id="contactAlert">Preencher o campo.</span>
        <span class="customAlert" id="phoneSpaceAlert">
          Por favor, remova os espaços no contacto.
        </span>
        <span class="customAlert" id="phoneStringAlert">
          O campo só deve conter números
        </span>
        <span class="customAlert" id="phoneNumMinAlert">
          O campo só deve ter pelo menos 9 dígitos.
        </span>
      </p>
      <p class="maxSpace">
        <label for="date">Data</label>
        <input type="date" id="date" name="date" />
        <span class="customAlert" id="dateAlert">Preencher o campo.</span>
      </p>
      <button
        type="submit"
        class="confirmReser maxSpace mt-4"
        aria-label="Enviar formulario"
      >
        Confirmar
      </button>
    </form>
  </dialog>

  <dialog
    id="pay-dialog"
    class="hidden block w-[27rem] m-auto p-4 max-[600px]:w-[90vw] max-[400px]:w-screen"
  >
    <div class="text-center py-4">
      <span class="closeModal bold top-4 right-4 absolute cursor-pointer"
        >X</span
      >
      <h2>Reservar</h2>
    </div>
    <form class="p-4" id="form-pay-method">
      <table class="maxSpace">
        <tbody class="text-left *:py-2 *:flex *:gap-4">
          <tr>
            <th class="w-24">Nome:</th>
            <td id="name"></td>
          </tr>
          <tr>
            <th class="w-24">Contato:</th>
            <td id="contact"></td>
          </tr>
          <tr>
            <th class="w-24">Localidade</th>
            <td id="location">Póvoa de Santa Iría</td>
            <td><Icon name="map" size={20} /></td>
          </tr>
          <tr>
            <th class="w-24">Data:</th>
            <td id="date"></td>
          </tr>
        </tbody>
      </table>
      <p style="margin-top: 2rem; padding:0" class="maxSpace">
        Valor a Pagar: <strong>280€</strong>
      </p>
      <div class="maxSpace flex gap-2 mt-4 *:font-black">
        <button id="payNow">Pagar Agora</button>
        <button>Pagar no local</button>
      </div>
    </form>
  </dialog>
</div>

<script src="./form.ts"></script>
<!-- <script>
  document.addEventListener("astro:page-load", () => {

  });
</script> -->
