/* _heroColor.module.css */
.heroColor1 {
  background-image: linear-gradient(269deg, #e9a0ec00 1.51%, #fcb0ff 7.24%, #fca2ff 51.55%, #fcb0ff 92.59%);

  @media only screen and (max-width: 767px) {
    background-image: linear-gradient(#fcafff 7.24%, #fca2ff 51.55%);
  }
}

.heroColor2 {
  background-image: linear-gradient(269deg, #ffb7b408 1.51%, #ff8d89 7.24%, #ff726d 51.55%, #ff8d89 92.59%);

  @media only screen and (max-width: 767px) {
    background-image: linear-gradient(#ff8d89 7.24%, #ff726d 51.55%);
  }
}

.heroColor3 {
  background-image: linear-gradient(269deg, #ecc6a000 1.51%, #f6af84 7.24%, #f9a96f 51.55%, #f6af84 92.59%);

  @media only screen and (max-width: 767px) {
    background-image: linear-gradient(#ffb487 7.24%, #feac72 51.55%);
  }
}

.heroColor4 {
  background-image: linear-gradient(269deg, #37e9d500 1.51%, #37e9d5 7.24%, #00d8bf 51.55%, #37e9d5 92.59%);

  @media only screen and (max-width: 767px) {
    background-image: linear-gradient(#37e9d5 7.24%, #00d8bf 51.55%);
  }
}

.heroColor5 {
  background-image: linear-gradient(269deg, #37e9d500 1.51%, #37e9d5 7.24%, #00d8bf 51.55%, #37e9d5 92.59%);

  @media only screen and (max-width: 767px) {
    background-image: linear-gradient(#ffb487 7.24%, #feac72 51.55%);
  }
}

.heroColor6 {
  background-image: linear-gradient(269deg, #37e9d500 1.51%, #37e9d5 7.24%, #00d8bf 51.55%, #37e9d5 92.59%);
  color: #00d8bf;

  @media only screen and (max-width: 767px) {
    background-image: linear-gradient(#ffb487 7.24%, #feac72 51.55%);
  }
}

.heroColor11 {
  background-image: none;

  @media only screen and (max-width: 767px) {
    background-color: #FCA2FF;
  }
}

.heroColor22 {
  background-image: none;

  @media only screen and (max-width: 767px) {
    background-color: #FF726D;
  }
}

.heroColor33 {
  background-image: none;

  @media only screen and (max-width: 767px) {
    background-color: #FEAC72;
  }
}

.heroColor44 {
  background-image: none;

  @media only screen and (max-width: 767px) {
    background-color: #00d8bf;
  }
}

.heroColor55 {
  background-image: none;

  @media only screen and (max-width: 767px) {
    background-color: #00d8bf;
  }
}

.heroColor66 {
  background-image: none;

  @media only screen and (max-width: 767px) {
    background-color: #00d8bf;
  }
}