---
import Layout from "../../layouts/Layout.astro";
---

<Layout
  title="Servicos"
  description="Explore técnicas como microblading, micropigmentação de olhos, labial, capilar, aréola-"
  keywords="clínica micropigmentação lisboa, angel micropigmentação, microblanding, micropigmentação, micropigmentação preço, micropigmentação de sobrancelhas, micropigmentação labial, micropigmentação capilar, micropigmentação facial, micropigmentação de olhos, micropigmentação para cicatrizes, remoção de micropigmentação, camuflagem de estrias, remoção de pigmento, remoção de tatuagens, remoção de manchas"
  canonical="https://clinicamicropigmentacao.com/servicos"
>
  <h1>Serviços</h1>

  <section></section>
</Layout>
