<style>
  .locais {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 9rem 0;
  }

  .separar-titu {
    display: flex;
  }

  .locais h2 {
    opacity: 0.7;
    z-index: 1;
  }

  .locais h2 a {
    color: #000;
  }

  .locais h2 a:hover {
    color: #000;
    text-decoration: none;
  }

  .position-local {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    margin: 60px 0 0 0;
  }

  .localCtro {
    width: 22rem;
    height: 39rem;
    margin: 16px;
  }

  .img-Local {
    height: 50%;
  }

  .localCtro picture,
  .localCtro img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .box-p {
    background-color: var(--corRoxo);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50%;
    padding: 0 30px;
  }

  .box-p a {
    color: rgb(37, 56, 109);
  }

  .box-p a:hover {
    color: rgb(0, 0, 0);
  }

  .box-p > :first-child {
    opacity: 0.9;
  }

  .box-p > :last-child {
    font-size: smaller;
  }

  @media only screen and (min-width: 0) and (max-width: 600px) {
    .locais h3 {
      transform: rotate(90deg);
    }

    .separar-titu {
      flex-direction: column;
      align-items: center;
    }

    article.localCtro {
      width: 22rem;
      height: 39rem;
    }

    article.localCtro {
      width: 91vw;
      margin: 16px 0;
    }

    article.localCtro img {
      object-position: top;
    }
  }

  @media only screen and (max-width: 317px) {
    .localCtro .box-p {
      padding: 0 12px;
      font-size: 85%;
    }

    div.box-p > :last-child {
      font-size: 72%;
    }
  }

  @media only screen and (min-width: 318px) and (max-width: 454px) {
    .localCtro .box-p {
      padding: 0 12px;
      font-size: 85%;
    }

    article.localCtro {
      width: 91vw;
      margin: 16px 0;
    }
  }

  @media only screen and (min-width: 601px) {
    .separar-titu {
      justify-content: center;
      align-items: center;
    }
    .locais h3 {
      margin: 0 1.5vw;
    }

    article.localCtro {
      width: 28rem;
      height: 41rem;
    }
  }

  @media only screen and (min-width: 1500px) {
    article.localCtro {
      width: 27rem;
      height: 42rem;
      margin: 0 16px;
    }

    .localCtro div.box-p > :last-child {
      font-size: inherit;
    }
  }
</style>

<section id="contactos" class="locais">
  <div class="separar-titu">
    <h2>
      <a
        aria-label="Local Areeiro"
        href="https://maps.app.goo.gl/VUkSMQNkDc8G7wqD6"
        target="_blank">AREEIRO</a
      >
    </h2>
    <h3>|</h3>
    <h2>
      <a
        aria-label="Local Póvoa"
        href="https://goo.gl/maps/7LJNApWVJKzsMmUH8"
        target="_blank">PÓVOA</a
      >
    </h2>
  </div>
  <div class="position-local">
    <article class="localCtro">
      <div class="img-Local">
        <a
          aria-label="Mapa local Areeiro"
          href="https://maps.app.goo.gl/VUkSMQNkDc8G7wqD6"
          target="_blank"
        >
          <picture>
            <source
              srcset="https://res.cloudinary.com/dg6twczfr/image/upload/f_auto,q_auto:good/v1703727135/assets/image/local/localVilaLisboa.avif"
            />
            <img
              src="https://res.cloudinary.com/dg6twczfr/image/upload/f_auto,q_auto:good/v1703727135/assets/image/local/localVilaLisboa.webp"
              alt="Local Areeiro"
            />
          </picture>
        </a>
      </div>
      <div class="box-p">
        <strong
          >*Antes de visitar nossas instalações, entre em contato conosco</strong
        >
        <br />
        <p>Morada:</p>
        <a
          aria-label="Mapa local Areeiro"
          href="https://maps.app.goo.gl/VUkSMQNkDc8G7wqD6"
          target="_blank">Avenida João XXI 49B, Areeiro</a
        >
        <br />
        <p>Telemóvel:</p>
        <a
          aria-label="Whatsapp Angel"
          href="https://wa.me/351935407895?text=Ola!%20Tenho%20uma%20duvida!"
          target="_blank">935 407 895</a
        >
        <br />
        <p>E-mail:</p>
        <a
          aria-label="E-mail Angel"
          href="mailto:angelbalcboniclinicamicropigme@gmail.com"
          target="_blank">angelbalcboniclinicamicropigme@gmail.com</a
        >
      </div>
    </article>

    <article class="localCtro">
      <div class="img-Local">
        <a
          aria-label="Local Póvoa"
          href="https://goo.gl/maps/R4RpzfBGRcL3p5jV8"
          target="_blank"
        >
          <picture>
            <source
              srcset="https://res.cloudinary.com/dg6twczfr/image/upload/f_auto,q_auto:good/v1703727135/assets/image/local/localPovoa.avif"
            />
            <img
              src="https://res.cloudinary.com/dg6twczfr/image/upload/f_auto,q_auto:good/v1703727135/assets/image/local/localPovoa.webp"
              alt="Local Póvoa"
            />
          </picture>
        </a>
      </div>
      <div class="box-p">
        <strong
          >*Antes de visitar nossas instalações, entre em contato conosco</strong
        >
        <br />
        <p>Morada:</p>
        <a
          aria-label="Mapa local Póvoa"
          href="https://goo.gl/maps/locaR4RpzfBGRcL3p5jV8"
          target="_blank">Rua José Nogueira Vaz 16, Póvoa de Santa Iria</a
        >
        <br />
        <p>Telemóvel:</p>
        <a
          aria-label="Whatsapp Angel"
          href="https://wa.me/351935407895?text=Ola!%20Tenho%20uma%20duvida!"
          target="_blank"
          >935 407 895
        </a>
        <br />
        <p>E-mail:</p>
        <a
          aria-label="E-mail Angel"
          href="mailto:angelbalcboniclinicamicropigme@gmail.com"
          target="_blank"
          class="phone-tiny"
        >
          angelbalcboniclinicamicropigme@gmail.com</a
        >
      </div>
    </article>
  </div>
</section>
