---
import "./_home.css";
---

<style>
  .nossos-servicos {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 7vh;
  }

  .nossos-servicos h2 {
    text-align: center;
    opacity: 0.8;
    margin: 5% 0 3% 0;
  }

  .pcSlide,
  .mobileSlide {
    width: 100%;
  }

  .dimension-total-ser {
    position: relative;
    display: flex;
    justify-content: center;
    height: 99%;
  }

  .card-servicos {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;

    padding: 0;
  }

  .card-servicos h3 a {
    color: #000;
  }

  .card-text-servicos {
    font-size: 14px;
    opacity: 0.8;
    text-align: center;
  }

  .activarS {
    padding: 0;
    margin-bottom: 5rem;
  }

  #cVerT {
    opacity: 0.5;
    margin: 0;
    padding: 1vh 0 5vh 0;
  }

  @media only screen and (min-width: 0) and (max-width: 600px) {
    .nossos-servicos h2 {
      margin: 0 0 4vh 0;
    }

    .pcSlide {
      display: none;
    }
  }

  @media only screen and (min-width: 601px) {
    .pcSlide {
      display: none;
    }

    .nossos-servicos h2 {
      margin: 0 0 4vh 0;
    }
  }

  @media only screen and (min-width: 768px) {
    .nossos-servicos h2 {
      margin: 0 0 6vh 0;
    }

    .mobileSlide {
      display: none;
    }

    .pcSlide {
      display: block;
    }
  }
</style>

<section id="servicos" class="nossos-servicos">
  <h2>NOSSOS SERVIÇOS</h2>

  <div class="pcSlide">
    <ol class="carousel_viewport">
      <li class="slides slide1">
        <div class="dimension-total-ser">
          <a href="/servicos/micropigmentacao-sobrancelhas">
            <div class="card">
              <picture>
                <source
                  srcset="https://res.cloudinary.com/dg6twczfr/image/upload/f_auto,q_auto:good/v1703727133/assets/image/servicos/micro_sobran.avif"
                />
                <img
                  src="https://res.cloudinary.com/dg6twczfr/image/upload/f_auto,q_auto:good/v1703727133/assets/image/servicos/micro_sobran.webp"
                  class="card-img-top"
                  alt="Micropigmentação de Sobrancelhas"
                />
              </picture>
              <div class="card-servicos">
                <h3 class="card-text-servicos">
                  Micropigmentação Sobrancelhas
                </h3>
              </div>
            </div>
          </a>
          <a href="/servicos/micropigmentacao-labial">
            <div class="card">
              <picture>
                <source
                  srcset="https://res.cloudinary.com/dg6twczfr/image/upload/f_auto,q_auto:good/v1703727133/assets/image/servicos/micro-labial.avif"
                />
                <img
                  src="https://res.cloudinary.com/dg6twczfr/image/upload/f_auto,q_auto:good/v1703727133/assets/image/servicos/micro-labial.webp"
                  class="card-img-top"
                  alt="Micropigmentação Labial"
                />
              </picture>
              <div class="card-servicos">
                <h3 class="card-text-servicos">Micropigmentação Labial</h3>
              </div>
            </div>
          </a>
          <a href="/servicos/micropigmentacao-olhos">
            <div class="card">
              <picture>
                <source
                  srcset="https://res.cloudinary.com/dg6twczfr/image/upload/f_auto,q_auto:good/v1703727133/assets/image/servicos/micro_olhos.avif"
                />
                <img
                  src="https://res.cloudinary.com/dg6twczfr/image/upload/f_auto,q_auto:good/v1703727133/assets/image/servicos/micro_olhos.webp"
                  class="card-img-top"
                  alt="Micropigmentação de Olhos"
                />
              </picture>
              <div class="card-servicos">
                <h3 class="card-text-servicos">Micropigmentação de Olhos</h3>
              </div>
            </div>
          </a>
        </div>
      </li>
      <li class="slides slide1">
        <div class="dimension-total-ser">
          <div class="card">
            <picture>
              <source
                srcset="https://res.cloudinary.com/dg6twczfr/image/upload/v1705631999/assets/image/servicos/micro-capilar.avif"
              />
              <img
                src="https://res.cloudinary.com/dg6twczfr/image/upload/v1705631999/assets/image/servicos/micro-capilar.webp"
                class="card-img-top"
                alt="Micropigmentação Capilar"
              />
            </picture>
            <div class="card-servicos">
              <h3 class="card-text-servicos">Micropigmentação Capilar</h3>
            </div>
          </div>
          <div class="card">
            <picture>
              <source
                srcset=" https://res.cloudinary.com/dg6twczfr/image/upload/f_auto,q_auto:good/v1703727126/assets/image/servicos/micro_Areola..avif"
              />
              <img
                src="https://res.cloudinary.com/dg6twczfr/image/upload/f_auto,q_auto:good/v1703727131/assets/image/servicos/micro_Areola1.webp"
                class="card-img-top"
                alt="Micropigmentação Aréola"
              />
            </picture>
            <div class="card-servicos">
              <h3 class="card-text-servicos">Micropigmentação Aréola</h3>
            </div>
          </div>
          <div class="card">
            <picture>
              <source
                srcset="https://res.cloudinary.com/dg6twczfr/image/upload/f_auto,q_auto:good/v1703727133/assets/image/servicos/micro-cicatriz.avif"
              />
              <img
                src="https://res.cloudinary.com/dg6twczfr/image/upload/f_auto,q_auto:good/v1703727133/assets/image/servicos/micro-cicatriz.webp"
                class="card-img-top"
                alt="Micropigmentação para Camuflar Cicatrizes"
              />
            </picture>
            <div class="card-servicos">
              <h3 class="card-text-servicos">
                Micropigmentação para Camuflar Cicatrizes
              </h3>
            </div>
          </div>
        </div>
      </li>
      <li class="slides slide1">
        <div class="dimension-total-ser">
          <div class="card">
            <picture>
              <source
                srcset="https://res.cloudinary.com/dg6twczfr/image/upload/f_auto,q_auto:good/v1703727133/assets/image/servicos/remocaoMicro.avif"
              />
              <img
                src="https://res.cloudinary.com/dg6twczfr/image/upload/f_auto,q_auto:good/v1703727133/assets/image/servicos/remocaoMicro.webp"
                class="card-img-top"
                alt="Remoção de Micropigmentação"
              />
            </picture>
            <div class="card-servicos">
              <h3 class="card-text-servicos">Remoção de Micropigmentação</h3>
            </div>
          </div>
          <div class="card">
            <picture>
              <source
                srcset="https://res.cloudinary.com/dg6twczfr/image/upload/f_auto,q_auto:good/v1703727133/assets/image/servicos/remocao_de_tatuagens.avif"
              />
              <img
                src="https://res.cloudinary.com/dg6twczfr/image/upload/f_auto,q_auto:good/v1703727133/assets/image/servicos/remocao_de_tatuagens.webp"
                class="card-img-top"
                alt="Remoção de Tatuagens"
              />
            </picture>
            <div class="card-servicos">
              <h3 class="card-text-servicos">Remoção de Tatuagens</h3>
            </div>
          </div>
          <div class="card">
            <picture>
              <source
                srcset="https://res.cloudinary.com/dg6twczfr/image/upload/f_auto,q_auto:good/v1703727133/assets/image/servicos/lifting_pestanas.avif"
              />
              <img
                src="https://res.cloudinary.com/dg6twczfr/image/upload/f_auto,q_auto:good/v1703727133/assets/image/servicos/lifting_pestanas.webp"
                class="card-img-top"
                alt="Lifting de Pestanas"
              />
            </picture>
            <div class="card-servicos">
              <h3 class="card-text-servicos">Lifting de Pestanas</h3>
            </div>
          </div>
        </div>
      </li>
    </ol>
    <aside>
      <button
        aria-label="Seguinte slide"
        class="carousel-control-prev prev1"
        type="button"
      >
        <img src="/assets/emojis/arrow-left.svg" class="size-8 opacity-80" />
      </button>
      <button
        aria-label="Anterior slide"
        class="carousel-control-next next1"
        type="button"
      >
        <img src="/assets/emojis/arrow-right.svg" class="size-8 opacity-80" />
      </button>
    </aside>
  </div>

  <div class="mobileSlide">
    <ol class="carousel_viewport">
      <li class="slides slide1">
        <div class="dimension-total-ser">
          <div class="card">
            <picture>
              <source
                srcset="https://res.cloudinary.com/dg6twczfr/image/upload/f_auto,q_auto:good/v1703727133/assets/image/servicos/micro_sobran.avif"
              />
              <img
                src="https://res.cloudinary.com/dg6twczfr/image/upload/f_auto,q_auto:good/v1703727133/assets/image/servicos/micro_sobran.webp"
                class="card-img-top"
                alt="Micropigmentação Sobrancelhas"
              />
            </picture>
            <div class="card-servicos">
              <h3 class="card-text-servicos">Micropigmentação Sobrancelhas</h3>
            </div>
          </div>
        </div>
      </li>
      <li class="slides slide1">
        <div class="dimension-total-ser">
          <div class="card">
            <picture>
              <source
                srcset="https://res.cloudinary.com/dg6twczfr/image/upload/f_auto,q_auto:good/v1703727133/assets/image/servicos/micro-labial.avif"
              />
              <img
                src="https://res.cloudinary.com/dg6twczfr/image/upload/f_auto,q_auto:good/v1703727133/assets/image/servicos/micro-labial.webp"
                class="card-img-top"
                alt="Micropigmentação Labial"
              />
            </picture>
            <div class="card-servicos">
              <h3 class="card-text-servicos">Micropigmentação Labial</h3>
            </div>
          </div>
        </div>
      </li>
      <li class="slides slide1">
        <div class="dimension-total-ser">
          <div class="card">
            <picture>
              <source
                srcset="https://res.cloudinary.com/dg6twczfr/image/upload/f_auto,q_auto:good/v1703727133/assets/image/servicos/micro_olhos.avif"
              />
              <img
                src="https://res.cloudinary.com/dg6twczfr/image/upload/f_auto,q_auto:good/v1703727133/assets/image/servicos/micro_olhos.webp"
                class="card-img-top"
                alt="Micropigmentação Olhos"
              />
            </picture>
            <div class="card-servicos">
              <h3 class="card-text-servicos">Micropigmentação Olhos</h3>
            </div>
          </div>
        </div>
      </li>
      <li class="slides slide1">
        <div class="dimension-total-ser">
          <div class="card">
            <picture>
              <source
                srcset="https://res.cloudinary.com/dg6twczfr/image/upload/v1705631999/assets/image/servicos/micro-capilar.avif"
              />
              <img
                src="https://res.cloudinary.com/dg6twczfr/image/upload/v1705631999/assets/image/servicos/micro-capilar.webp"
                class="card-img-top"
                alt="Micropigmentação Capilar"
              />
            </picture>
            <div class="card-servicos">
              <h3 class="card-text-servicos">Micropigmentação Capilar</h3>
            </div>
          </div>
        </div>
      </li>
      <li class="slides slide1">
        <div class="dimension-total-ser">
          <div class="card">
            <picture>
              <source
                srcset=" https://res.cloudinary.com/dg6twczfr/image/upload/f_auto,q_auto:good/v1703727126/assets/image/servicos/micro_Areola..avif"
              />
              <img
                src="https://res.cloudinary.com/dg6twczfr/image/upload/f_auto,q_auto:good/v1703727131/assets/image/servicos/micro_Areola1.webp"
                class="card-img-top"
                alt="Micropigmentação Aréola"
              />
            </picture>
            <div class="card-servicos">
              <h3 class="card-text-servicos">Micropigmentação Aréola</h3>
            </div>
          </div>
        </div>
      </li>
      <li class="slides slide1">
        <div class="dimension-total-ser">
          <div class="card">
            <picture>
              <source
                srcset="https://res.cloudinary.com/dg6twczfr/image/upload/f_auto,q_auto:good/v1703727133/assets/image/servicos/micro-cicatriz.avif"
              />
              <img
                src="https://res.cloudinary.com/dg6twczfr/image/upload/f_auto,q_auto:good/v1703727133/assets/image/servicos/micro-cicatriz.webp"
                class="card-img-top"
                alt="Micropigmentação para Camuflar Cicatrizes"
              />
            </picture>
            <div class="card-servicos">
              <h3 class="card-text-servicos">
                Micropigmentação para Camuflar Cicatrizes
              </h3>
            </div>
          </div>
        </div>
      </li>
      <li class="slides slide1">
        <div class="dimension-total-ser">
          <div class="card">
            <picture>
              <source
                srcset="https://res.cloudinary.com/dg6twczfr/image/upload/f_auto,q_auto:good/v1703727133/assets/image/servicos/remocaoMicro.avif"
              />
              <img
                src="https://res.cloudinary.com/dg6twczfr/image/upload/f_auto,q_auto:good/v1703727133/assets/image/servicos/remocaoMicro.webp"
                class="card-img-top"
                alt="Remoção de Micropigmentação"
              />
            </picture>
            <div class="card-servicos">
              <h3 class="card-text-servicos">Remoção de Micropigmentação</h3>
            </div>
          </div>
        </div>
      </li>
      <li class="slides slide1">
        <div class="dimension-total-ser">
          <div class="card">
            <picture>
              <source
                srcset="https://res.cloudinary.com/dg6twczfr/image/upload/f_auto,q_auto:good/v1703727133/assets/image/servicos/remocao_de_tatuagens.avif"
              />
              <img
                src="https://res.cloudinary.com/dg6twczfr/image/upload/f_auto,q_auto:good/v1703727133/assets/image/servicos/remocao_de_tatuagens.webp"
                class="card-img-top"
                alt="Remoção de Tatuagens"
              />
            </picture>
            <div class="card-servicos">
              <h3 class="card-text-servicos">Remoção de Tatuagens</h3>
            </div>
          </div>
        </div>
      </li>
    </ol>
    <aside>
      <button
        aria-label="Seguinte slide"
        class="carousel-control-prev prev2"
        type="button"
      >
        <img src="/assets/emojis/arrow-left.svg" class="size-8 opacity-80" />
      </button>
      <button
        aria-label="Anterior slide"
        class="carousel-control-next next2"
        type="button"
      >
        <img src="/assets/emojis/arrow-right.svg" class="size-8 opacity-80" />
      </button>
    </aside>
  </div>
</section>

<div id="cVerT">
  <span class="ver-maisExtra openToogle"
    >Ver serviços extra <div id="pfq1">></div></span
  >
</div>
<section class="activarS nossos-servicos">
  <h2 style="margin: 1% 0 3% 0;">SERVIÇOS EXTRAS</h2>
  <div class="pcSlide">
    <ol class="carousel_viewport">
      <li class="slides slide2">
        <div class="dimension-total-ser">
          <div class="card">
            <picture>
              <source
                srcset="https://res.cloudinary.com/dg6twczfr/image/upload/f_auto,q_auto:good/v1703727133/assets/image/servicos/maquilhagemFacial.avif"
              />
              <img
                src="https://res.cloudinary.com/dg6twczfr/image/upload/f_auto,q_auto:good/v1703727133/assets/image/servicos/maquilhagemFacial.webp"
                class="card-img-top"
                alt="Maquilhagem Facial"
              />
            </picture>
            <div class="card-servicos">
              <h3 class="card-text-servicos">Maquilhagem Facial</h3>
            </div>
          </div>
          <div class="card">
            <picture>
              <source
                srcset="https://res.cloudinary.com/dg6twczfr/image/upload/f_auto,q_auto:good/v1703727133/assets/image/servicos/limpeza_facial.avif"
              />
              <img
                src="https://res.cloudinary.com/dg6twczfr/image/upload/f_auto,q_auto:good/v1703727133/assets/image/servicos/limpeza_facial.webp"
                class="card-img-top"
                alt="Limpeza Facial"
              />
            </picture>
            <div class="card-servicos">
              <h3 class="card-text-servicos">Limpeza Facial</h3>
            </div>
          </div>
          <div class="card">
            <picture>
              <source
                srcset="https://res.cloudinary.com/dg6twczfr/image/upload/f_auto,q_auto:good/v1703948773/assets/image/servicos/depilacaoFIoFio.avif"
              />
              <img
                src="https://res.cloudinary.com/dg6twczfr/image/upload/f_auto,q_auto:good/v1703948773/assets/image/servicos/depilacaoFIoFio.webp"
                class="card-img-top"
                alt="depilacaoFIoFio"
              />
            </picture>
            <div class="card-servicos">
              <h3 class="card-text-servicos">
                Depilação Sobrancelhas com Linha
              </h3>
            </div>
          </div>
        </div>
      </li>
      <li class="slides slide2">
        <div class="dimension-total-ser">
          <div class="card">
            <picture>
              <source
                srcset="https://res.cloudinary.com/dg6twczfr/image/upload/v1703957119/assets/image/servicos/massagemJapones.avif"
              />
              <img
                src="https://res.cloudinary.com/dg6twczfr/image/upload/v1703955519/assets/image/servicos/massagemJapones.webp"
                class="card-img-top"
                alt="Drenagem Linfática"
              />
            </picture>
            <div class="card-servicos">
              <h3 class="card-text-servicos">Massagem Facial Japonesa</h3>
            </div>
          </div>
          <div class="card">
            <picture>
              <source
                srcset="https://res.cloudinary.com/dg6twczfr/image/upload/f_auto,q_auto:good/v1703727133/assets/image/servicos/massagemCorpo.avif"
              />
              <img
                src="https://res.cloudinary.com/dg6twczfr/image/upload/f_auto,q_auto:good/v1703727133/assets/image/servicos/massagemCorpo.webp"
                class="card-img-top"
                alt="Massagem Corpo Inteiro"
              />
            </picture>
            <div class="card-servicos">
              <h3 class="card-text-servicos">Massagem Corpo Inteiro</h3>
            </div>
          </div>
          <div class="card">
            <picture>
              <source
                srcset="https://res.cloudinary.com/dg6twczfr/image/upload/f_auto,q_auto:good/v1703727133/assets/image/servicos/drenagemLinfatica.avif"
              />
              <img
                src="https://res.cloudinary.com/dg6twczfr/image/upload/f_auto,q_auto:good/v1703727133/assets/image/servicos/drenagemLinfatica.webp"
                class="card-img-top"
                alt="Massagem Facial Japonesa"
              />
            </picture>
            <div class="card-servicos">
              <h3 class="card-text-servicos">Drenagem Linfática</h3>
            </div>
          </div>
        </div>
      </li>
    </ol>
    <aside>
      <button
        aria-label="Seguinte slide"
        class="carousel-control-prev prev3"
        type="button"
      >
        <img src="/assets/emojis/arrow-left.svg" class="size-8 opacity-80" />
      </button>
      <button
        aria-label="Anterior slide"
        class="carousel-control-next next3"
        type="button"
      >
        <img src="/assets/emojis/arrow-right.svg" class="size-8 opacity-80" />
      </button>
    </aside>
  </div>

  <div class="mobileSlide">
    <ol class="carousel_viewport">
      <li class="slides slide2">
        <div class="dimension-total-ser">
          <div class="card">
            <picture>
              <source
                srcset="https://res.cloudinary.com/dg6twczfr/image/upload/f_auto,q_auto:good/v1703727133/assets/image/servicos/lifting_pestanas.avif"
              />
              <img
                src="https://res.cloudinary.com/dg6twczfr/image/upload/f_auto,q_auto:good/v1703727133/assets/image/servicos/lifting_pestanas.webp"
                class="card-img-top"
                alt="Lifting de Pestanas"
              />
            </picture>
            <div class="card-servicos">
              <h3 class="card-text-servicos">Lifting de Pestanas</h3>
            </div>
          </div>
        </div>
      </li>
      <li class="slides slide2">
        <div class="dimension-total-ser">
          <div class="card">
            <picture>
              <source
                srcset="https://res.cloudinary.com/dg6twczfr/image/upload/f_auto,q_auto:good/v1703727133/assets/image/servicos/maquilhagemFacial.avif"
              />
              <img
                src="https://res.cloudinary.com/dg6twczfr/image/upload/f_auto,q_auto:good/v1703727133/assets/image/servicos/maquilhagemFacial.webp"
                class="card-img-top"
                alt="Maquilhagem Facial"
              />
            </picture>
            <div class="card-servicos">
              <h3 class="card-text-servicos">Maquilhagem Facial</h3>
            </div>
          </div>
        </div>
      </li>
      <li class="slides slide2">
        <div class="dimension-total-ser">
          <div class="card">
            <picture>
              <source
                srcset="https://res.cloudinary.com/dg6twczfr/image/upload/f_auto,q_auto:good/v1703727133/assets/image/servicos/limpeza_facial.avif"
              />
              <img
                src="https://res.cloudinary.com/dg6twczfr/image/upload/f_auto,q_auto:good/v1703727133/assets/image/servicos/limpeza_facial.webp"
                class="card-img-top"
                alt="Limpeza Facial"
              />
            </picture>
            <div class="card-servicos">
              <h3 class="card-text-servicos">Limpeza Facial</h3>
            </div>
          </div>
        </div>
      </li>
      <li class="slides slide2">
        <div class="dimension-total-ser">
          <div class="card">
            <picture>
              <source
                srcset="https://res.cloudinary.com/dg6twczfr/image/upload/f_auto,q_auto:good/v1703948773/assets/image/servicos/depilacaoFIoFio.avif"
              />
              <img
                src="https://res.cloudinary.com/dg6twczfr/image/upload/f_auto,q_auto:good/v1703948773/assets/image/servicos/depilacaoFIoFio.webp"
                class="card-img-top"
                alt="Depilação Sobrancelhas com Linha"
              />
            </picture>
            <div class="card-servicos">
              <h3 class="card-text-servicos">
                Depilação Sobrancelhas com Linha
              </h3>
            </div>
          </div>
        </div>
      </li>
      <li class="slides slide2">
        <div class="dimension-total-ser">
          <div class="card">
            <picture>
              <source
                srcset="https://res.cloudinary.com/dg6twczfr/image/upload/f_auto,q_auto:good/v1703955479/assets/image/servicos/massagemJapones.avif"
              />
              <img
                src="https://res.cloudinary.com/dg6twczfr/image/upload/f_auto,q_auto:good/v1703955479/assets/image/servicos/massagemJapones.webp"
                class="card-img-top"
                alt="Massagem Facial Japonesa"
              />
            </picture>
            <div class="card-servicos">
              <h3 class="card-text-servicos">Massagem Facial Japonesa</h3>
            </div>
          </div>
        </div>
      </li>
      <li class="slides slide2">
        <div class="dimension-total-ser">
          <div class="card">
            <picture>
              <source
                srcset="https://res.cloudinary.com/dg6twczfr/image/upload/f_auto,q_auto:good/v1703727133/assets/image/servicos/massagemCorpo.avif"
              />
              <img
                src="https://res.cloudinary.com/dg6twczfr/image/upload/f_auto,q_auto:good/v1703727133/assets/image/servicos/massagemCorpo.webp"
                class="card-img-top"
                alt="Massagem Corpo Inteiro"
              />
            </picture>
            <div class="card-servicos">
              <h3 class="card-text-servicos">Massagem Corpo Inteiro</h3>
            </div>
          </div>
        </div>
      </li>
      <li class="slides slide2">
        <div class="dimension-total-ser">
          <div class="card">
            <picture>
              <source
                srcset="https://res.cloudinary.com/dg6twczfr/image/upload/f_auto,q_auto:good/v1703727133/assets/image/servicos/drenagemLinfatica.avif"
              />
              <img
                src="https://res.cloudinary.com/dg6twczfr/image/upload/f_auto,q_auto:good/v1703727133/assets/image/servicos/drenagemLinfatica.webp"
                class="card-img-top"
                alt="Drenagem Linfática"
              />
            </picture>
            <div class="card-servicos">
              <h3 class="card-text-servicos">Drenagem Linfática</h3>
            </div>
          </div>
        </div>
      </li>
    </ol>
    <aside>
      <button
        aria-label="Seguinte slide"
        class="carousel-control-prev prev4"
        type="button"
      >
        <img src="/assets/emojis/arrow-left.svg" class="size-8 opacity-80" />
      </button>
      <button
        aria-label="Anterior slide"
        class="carousel-control-next next4"
        type="button"
      >
        <img src="/assets/emojis/arrow-right.svg" class="size-8 opacity-80" />
      </button>
    </aside>
  </div>
</section>

<script src="./slider.ts"></script>
<script>
  document.addEventListener("astro:page-load", () => {
    const openToggle = document.querySelector<HTMLElement>(".openToogle");

    if (openToggle) {
      openToggle.addEventListener("click", () => {
        openToggle.classList.toggle("open");
        const activarS = document.querySelector<HTMLElement>(".activarS");

        if (activarS) {
          activarS.classList.toggle("activeToogle");
        }
      });
    }
  });
</script>