---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Política de privacidade"
  description="Política de privacidade de Clínica Angel Micropigmentação"
  keywords="clínica micropigmentação politica de privacidade"
  canonical="https://clinicamicropigmentacao.com/politica-de-privacidade"
>
  <section class="body">
    <h1>Política de privacidade</h1>
    <p>
      O site angelmicropigmentacao.com é administrado pela Clínica Angel
      Micropigmentação, que atua como controladora dos seus dados pessoais.
      <br /><br />
      Adotamos esta Política de Privacidade para explicar como processamos as informações
      coletadas pelo angelmicropigmentacao.com. Além disso, fornecemos os motivos
      pelos quais coletamos dados pessoais sobre você. Recomendamos a leitura atenta
      desta política antes de utilizar o site angelmicropigmentacao.com.
      <br /><br />
      Comprometemo-nos a cuidar dos seus dados pessoais, garantindo sua confidencialidade
      e segurança.
    </p>
    <h3>Informações pessoais que recolhemos:</h3>
    <p>
      Quando você visita angelmicropigmentacao.com, automaticamente coletamos
      informações sobre o seu dispositivo, incluindo detalhes do navegador,
      endereço IP, fuso horário e cookies instalados. Além disso, enquanto
      navega no site, registramos informações sobre as páginas ou produtos
      visualizados, fontes de redirecionamento e interações. Chamamos essas
      informações coletadas automaticamente de "Informações do Dispositivo".
      Podemos também obter dados pessoais fornecidos por você durante o
      registro, como nome, sobrenome, endereço, informações de pagamento, etc.
    </p>
    <h3>Porque processamos os seus dados?</h3>
    <p>
      Nossa principal preocupação é a segurança dos dados do cliente. Portanto,
      processamos apenas dados mínimos do usuário, essenciais para a manutenção
      do site. As informações coletadas automaticamente são utilizadas apenas
      para identificar possíveis abusos e gerar estatísticas sobre o uso do
      site, sem identificar usuários específicos.
      <br /><br />
      Você pode visitar o site anonimamente, mas ao utilizar recursos específicos,
      como receber nossa newsletter, pode optar por fornecer dados pessoais, como
      email, nome, sobrenome, cidade de residência, etc. A não divulgação desses
      dados pode limitar o acesso a certos recursos do site.
    </p>
    <h3>Seus direitos</h3>
    <p>
      Residentes europeus têm direitos relacionados aos seus dados pessoais,
      incluindo ser informado, ter acesso, retificação, exclusão, restrição de
      processamento, portabilidade de dados e oposição. Para exercer esses
      direitos, entre em contato conosco através das informações fornecidas
      abaixo.
    </p>
    <h3>Links para outros sites:</h3>
    <p>
      Nosso site pode conter links para sites não controlados por nós. Não somos
      responsáveis pelas práticas de privacidade desses sites e recomendamos
      verificar as declarações de privacidade de cada um.
    </p>
    <h3>Segurança da informação:</h3>
    <p>
      As informações fornecidas são protegidas em servidores seguros, com
      salvaguardas administrativas, técnicas e físicas para prevenir acesso não
      autorizado. No entanto, nenhuma transmissão de dados pela Internet pode
      ser garantida.
    </p>
    <h3>Divulgação legal:</h3>
    <p>
      Divulgaremos informações coletadas apenas se exigido ou permitido por lei,
      como em resposta a uma intimação ou processo legal.
    </p>
    <h3>Informações de contacto:</h3>
    <p>
      Para esclarecimentos sobre esta Política ou questões relacionadas aos seus
      direitos individuais, entre em contato através do email:
      <a
        aria-label="E-mail Angel"
        href="mailto:angelbalcboniclinicamicropigme@gmail.com"
        class="max-[317px]:text-[smaller]"
        >angelbalcboniclinicamicropigme@gmail.com</a
      >
    </p>
  </section>
</Layout>
