---
import SocialMidia from "../SocialMidia.astro";
---

<style>
  .sectionGroup {
    animation: openPanel 0.4s ease-out both;
  }

  .openSideBar {
    display: block;
  }

  @keyframes openPanel {
    from {
      right: -100%;
    }
    to {
      right: 0%;
    }
  }

  .nav-panel li a {
    color: rgb(0, 0, 0);
    margin-right: 10px;
    letter-spacing: 0.5px;
  }

  .nav-panel li span {
    font-size: 18px;
    font-weight: bolder;
    cursor: pointer;
    width: 25px;
    position: relative;
    writing-mode: vertical-rl;
    transition: transform 0.4s ease;
  }

  .open {
    transform: rotate(180deg);
  }

  .toogle:checked + .dropdown {
    display: flex;
    max-height: max-content;
  }

  .dropdown {
    display: none;
    flex-direction: column;
    padding: 5px;

    margin-top: 3vh;
    gap: 2rem;
    max-height: 0;
    overflow: hidden;

    background-color: var(--corBranca);
    transition: max-height 0.4s ease;
    transform-origin: top;
  }

  .dropdown li a {
    text-transform: initial;
    text-align: left;
    opacity: 0.5;
  }

  @media only screen and (min-width: 992px) {
    .opensideBar:checked + .sideBar {
      display: none;
    }

    .sectionGroup {
      flex-direction: row;
      justify-content: space-between;
      position: relative;
      padding: 0;
      width: 100%;
    }

    .nav-panel li {
      width: 8.5rem;
      text-align: center;
    }

    .nav-panel li a {
      text-align: center;
      margin: 0;
    }

    .dropdown {
      position: fixed;
      gap: 0;
      width: 19rem;
      margin-top: 0;
      padding: 33px 0 0;
    }

    .dropdown li {
      width: 100%;
      height: 4rem;
      padding: 0 14px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .toogle:checked + .dropdown {
      display: none;
    }

    .servicos:hover .dropdown,
    .perguntas:hover .dropdown,
    .dropdown:hover {
      display: flex;
      max-height: max-content;
    }

    .servicos:hover .dropdown li:hover,
    .perguntas:hover .dropdown li:hover,
    .dropdown:hover li:hover {
      background-color: #ef83f352;
    }
  }

  @media only screen and (min-width: 1500px) {
    .dropdown {
      padding: 46px 0 0;
    }
  }
</style>

<div
  class="sectionGroup flex fixed h-full w-2/4 overflow-hidden flex-col items-center pt-[2em] top-0 bg-[color:var(--corBranca)] z-[4] max-[734px]:w-[67%] max-[454px]:w-full"
>
  <button
    type="button"
    class="flex self-end mr-[9%] size-4 min-[992px]:hidden"
    aria-label="Fechar painel de navegação"
  >
    <i class="fa-solid fa-xmark fa-2xl"></i>
  </button>
  <ul
    class="nav-panel w-fit h-full justify-evenly overflow-hidden flex flex-col uppercase min-[1700px]:justify-start min-[1500px]:w-full min-[1500px]:justify-center min-[992px]:w-[29rem] min-[992px]:flex-row min-[992px]:flex-wrap min-[992px]:gap-y-2 max-[844px]:pl-[10%]"
  >
    <li>
      <a aria-label="Home" href="../">início</a>
    </li>
    <li>
      <a aria-label="sobre nós" href="../sobrenos">sobre nós</a>
    </li>
    <li>
      <a aria-label="sobre nós" href="../#contactos">contactos</a>
    </li>
    <li class="servicos">
      <a aria-label="serviços" href="./servicos">serviços</a>
      <span class="arrow min-[992px]:hidden">></span>
      <input
        type="checkbox"
        class="toogle absolute scale-x-[4] size-5 opacity-0 min-[992px]:hidden"
      />
      <ul
        class="dropdown min-[1700px]:-ml-[4%] min-[1500px]:-ml-[5%] min-[992px]:-ml-[8vh] animate-slide-in-top animate-duration-250"
      >
        <li>
          <a
            aria-label="Serviço micropigmentação sobrancelha"
            href="./servicos/micropigmentacao-sobrancelhas"
            >Micropigmentação sobrancelhas</a
          >
        </li>
        <li>
          <a
            aria-label="Serviço micropigmentação labial"
            href="./servicos/micropigmentacao-labial">Micropigmentação labial</a
          >
        </li>
        <li>
          <a
            aria-label="Serviço micropigmentação olhos"
            href="./servicos/micropigmentacao-olhos">Micropigmentação olhos</a
          >
        </li>
      </ul>
    </li>
    <li class="perguntas">
      <a aria-label="página perguntas" href="../#perguntas">perguntas</a>
      <span class="arrow min-[992px]:hidden">></span>
      <input
        type="checkbox"
        class="toogle scale-x-[4] absolute size-5 opacity-0 min-[992px]:hidden"
      />
      <ul
        class="min-[1700px]:-ml-[4%] min-[1500px]:-ml-[5%] dropdown min-[992px]:-ml-[8vh] animate-slide-in-top animate-duration-250"
      >
        <li>
          <a aria-label="pergunta: o que é micropigmentação?" href="../#pg1"
            >O que é micropigmentação?</a
          >
        </li>
        <li>
          <a aria-label="pergunta: A micropigmentação doi?" href="../#pg2"
            >A micropigmentação dói?</a
          >
        </li>
        <li>
          <a
            aria-label="pergunta: Quanto tempo dura a micropigmentação?"
            href="../#pg3">Quanto tempo dura a micropigmentação?</a
          >
        </li>
      </ul>
    </li>

    <li>
      <a aria-label="testemunhas" href="../#testemunhas">testemunhas</a>
    </li>
  </ul>
  <SocialMidia />
</div>

<script>
  document
    .querySelectorAll<HTMLElement>(".nav-panel li")
    .forEach((liSection: HTMLElement) => {
      const arrowEffect = liSection.querySelector<HTMLElement>(".arrow");
      liSection.addEventListener("click", () =>
        arrowEffect?.classList.toggle("open")
      );
    });
</script>
