<style>
  @media only screen and (max-width: 317px) {
    .bt-float button {
      width: 40px;
      height: 40px;
    }
  }
  @media only screen and (min-width: 318px) and (max-width: 454px) {
    .bt-float button {
      width: 40px;
      height: 40px;
    }
  }
</style>

<div
  class="flex flex-col bt-float cursor-pointer fixed bottom-[20px] right-[20px] z-[2]"
>
  <button
    aria-label="Subir ao topo"
    id="bt-top"
    class="relative size-16 border-[1px] border-solid border-[#00000031] rounded-[35%] [box-shadow:0_0_15px_0px_#00000014] mx-0 my-[2px]"
    ><i class="fa-solid fa-arrow-up fa-xl" style="color: #00000098;"></i>
  </button>
  <button
    aria-label="Whatsapp Angel"
    class="bg-white elative size-16 border-[1px] border-solid border-[#00000031] rounded-[35%] [box-shadow:0_0_15px_0px_#00000014] mx-0 my-[2px]"
    ><a
      href="https://wa.me/351935407895?text=Ola!%20Tenho%20uma%20duvida!"
      class="text-[#25d366]"
      target="_blank"
    >
      <i class="fa-brands fa-whatsapp fa-2xl"></i>
    </a>
  </button>
</div>

<script>
  const btTop = document.getElementById("bt-top");

  if (btTop) {
    window.addEventListener("scroll", () => {
      btTop.style.display =
        document.documentElement.scrollTop > 150 ? "block" : "none";
    });

    btTop.addEventListener("click", () => {
      window.scrollTo({
        top: 0,
        behavior: "smooth",
      });
    });
  }
</script>
