<style>
  li {
    list-style: none;
    margin: 0 7px;
  }
  li:hover {
    filter: invert(82%) sepia(25%) saturate(5763%) hue-rotate(242deg)
      brightness(100%) contrast(91%);
  }
</style>

<ul class="flex justify-center py-[6%] min-[992px]:py-2">
  <li>
    <a
      aria-label="Instagram"
      href="https://www.instagram.com/aangelmicropigmentacao/"
      target="_blank"
      ><img
        class="size-[30px]"
        src="social-midia/instagram.svg"
        alt="Instagram"
      /></a
    >
  </li>
  <li>
    <a
      aria-label="Facebook"
      href="https://www.facebook.com/aangelmicropigmentacao"
      target="_blank"
      ><img
        class="size-[30px]"
        src="social-midia/facebook.svg"
        alt="Facebook"
      /></a
    >
  </li>
  <li>
    <a aria-label="TikTok" href="/" target="_blank"
      ><img class="size-[30px]" src="social-midia/tiktok.svg" alt="TikTok" /></a
    >
  </li>
  <li>
    <a
      aria-label="Youtube"
      href="https://www.youtube.com/@angelmicropigmentacion4389"
      target="_blank"
      ><img
        class="size-[30px]"
        src="social-midia/youtube.svg"
        alt="Youtube"
      /></a
    >
  </li>
</ul>
