<style>
  .reserve-ja {
    background-color: var(--Pink);
    position: relative;

    display: flex;
    align-items: center;
    justify-content: space-between;

    h2 {
      color: var(--White);
      font-weight: bold;

      position: relative;
      margin: 2vw 0 0 0;
    }

    a:hover {
      text-decoration: none;
    }

    p {
      color: var(--White);
      opacity: 0.9;
      margin: 1.5vh 0 3vh 0;
    }
  }

  .border-rb {
    background-color: transparent;
    position: relative;
    display: flex;
    border: 1px solid var(--White);
    transition: padding 0.3s ease;
    padding: min(3.5vh, 9vh);

    &:hover {
      padding: min(4vh, 10vw);
    }
  }

  .reser-button {
    color: var(--White);
    font-weight: bold;
  }

  @media only screen and (min-width: 0) and (max-width: 600px) {
    .reserve-ja {
      flex-direction: column;
      padding: 5vw;

      h2,
      p {
        text-align: center;
      }

      h2 {
        font-size: 1.5em;
      }

      p {
        font-size: 1em;
      }
    }
  }

  @media only screen and (min-width: 601px) {
    .reserve-ja {
      flex-direction: column;
      padding: 5vw;

      h2,
      p {
        text-align: center;
        padding: 0 2.5em;
      }
    }
  }
  
  @media only screen and (min-width: 768px) {
    .reserve-ja {
      flex-direction: inherit;
      padding: 0 12vw;
      height: 26vh;

      h2,
      p {
        text-align: left;
        padding: 0;
      }

      .border-rb {
        margin-left: 5vw;
      }
    }
  }

  @media only screen and (min-width: 992px) {
    .reserve-ja {
      h2 {
        font-size: calc(1vw + 1em);
      }
      p {
        font-size: calc(1vw + 0.4em);
      }
    }
  }

  @media only screen and (min-width: 1500px) {
    .reserve-ja {
      height: 24vh;
      padding: 0 16vw;
    }
    .reser-button {
      font-size: 1vw;
    }

    .border-rb {
      padding: 4vh 3vw;

      &:hover {
        padding: 4.5vh 3.5vw;
      }
    }
  }
</style>

<section class="reserve-ja">
  <div class="ctro-reser">
    <h2>RESERVE O SEU MOMENTO DE BELEZA</h2>
    <p>
      Agende uma consulta e deixe-se cuidar pelos nossos profissionais
      especializados
    </p>
  </div>
  <a
    aria-label="Marcar reserva"
    href="https://zappysoftware.com/m/clinicamicropigmentacao"
    target="_blank"
  >
    <button aria-label="Marcar reserva" class="border-rb">
      <span class="reser-button">MARCAR RESERVA</span>
    </button>
  </a>
</section>
